<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>The FilmStones Movie Directory</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
     />

  </head>

  <body>
    <div id="content-2">
      <header id="header">
        The FilmStones Movie Directory
      </header>
    </div>
    <div class="topnav">
      {% include 'navigation.html' %}
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
